$verydarkblue: hsl(233, 47%, 7%);
$darkdesaturatedblue: hsl(244, 38%, 16%);
$softviolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightlytransparentwhitemain: hsla(0, 0%, 100%, 0.75);
$slightlytransparentwhitestat: hsla(0, 0%, 100%, 0.6);